<div class="container-filtros">
    <div class="tarjeta2" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        <div>
            <label class="titulos-principal">Alta de Usuarios</label>
        </div>
    </div>
</div>

<div class="informacion-basica">
    <div class="tarjetaUsuarios">
        <legend>Información básica</legend>

        <div class="columnas-informacion">
            <div class="columna-uno">
                <div class="campo-formulario-usuarios">
                    <label class="texto-filtro">Nombre: </label>
                    <input required placeholder="Nombre del usuario" type="text" class="p-inputtext">
                </div>
                <div class="campo-formulario-usuarios">
                    <label class="texto-filtro">Correo: </label>
                    <input required placeholder="example@coppel.com" type="email" class="p-inputtext">
                </div>
                <div class="campo-formulario-usuarios">
                    <label class="texto-filtro"># Colaborador: </label>
                    <input required placeholder="No. de colaborador" type="text" class="p-inputtext">
                </div>
                <div class="campo-formulario-usuarios">
                    <label class="texto-filtro"># Centro: </label>
                    <input required placeholder="No. de Centro" type="text" class="p-inputtext">
                </div>
            </div>
            <div class="columna-dos">
                <div class="campo-formulario-usuarios">
                    <label class="texto-filtro">Nombre Centro: </label>
                    <input required placeholder="Nombre del centro" type="text" class="p-inputtext">
                </div>
                <div class="campo-formulario-usuarios">
                    <label class="texto-filtro">Tipo de Usuario: </label>
                    <p-dropdown (onChange)="filtroSeleccionarTipoUsuario()" [options]="opcionesTipodeUsuario"
                        [(ngModel)]="selectedTipodeUsuario" optionLabel="name" placeholder="Seleccione Tipo" />
                </div>
                <div class="campo-formulario-usuarios">
                    <label class="texto-filtro">Estatus Usuario: </label>
                    <p-dropdown (onChange)="filtroSeleccionarEstatusUsuario()" [options]="opcionesEstatusdeUsuario"
                        [(ngModel)]="selectedEstatusdeUsuario" optionLabel="name" placeholder="Seleccione Estatus" />
                </div>
                <div class="campo-formulario-usuarios">
                    <label class="texto-filtro">Enviar correo</label>
                    <input type="checkbox" checked style="margin: 0 0 0 -27px;">
                </div>
            </div>
        </div>
        <div class="botones-tabla">
            <p-button label="Agregar"/>
            <p-button label="Cancelar" (click)="regresar()"/>
        </div>
    </div>
</div>

<div class="tab-content mb-5" id="nav-tabContent">

    <div class="tab-pane fade show active p-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <p-tabView>
            <p-tabPanel header="Categoria">
                <p-pickList
                [source]="sourceClass"
                [target]="targetClass"
                [showSourceControls]="false"
                [showTargetControls]="false"
                sourceHeader="Macrocategorias Disponibles"
                targetHeader="Macrocategorias Asignadas"
                [dragdrop]="true"
                [responsive]="true"
                [sourceStyle]="{'height':'300px'}" 
                [targetStyle]="{'height':'300px'}"
                filterBy="id_macro,nombre_macro"
                sourceFilterPlaceholder="Buscar Macrocategoría"
                targetFilterPlaceholder="Buscar Macrocategoría"
                breakpoint="1400px"
                >
                <ng-template let-macrocategoria pTemplate="item">
                    <div class="flex flex-wrap p-2 align-items-center gap-3">
                        <div class="product-list-detail">
                            <i class="pi pi-tag product-category-icon" style="margin-right: 1rem; font-size: 1.4rem"></i>
                            <span class="texto-clase-picklist">{{macrocategoria.id_macro}} - {{macrocategoria.nombre_macro}}</span>
                        </div>
                    </div>
                </ng-template>
                </p-pickList>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>