<div class="app-reglas-negocio">

    <div class="container-filtros">
        <div class="tarjeta2" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            <div>
                <label class="titulos-principal">CONSULTA DE USUARIOS</label>
            </div>
        </div>

        <div style="width: 100%;">

            <div class="container-filtros" style="margin-bottom: 1rem;">
                <div class="tarjeta4" style="display: flex; flex-wrap: wrap;">
                    <div class="tarjeta3">
                        <label class="titulos-filtros">Macrocategoría</label>
                        <form [formGroup]="macrocategoriaFormGroup">
                            <p-multiSelect [options]="macrocategoria" formControlName="selectedMacrocategoria"
                                optionLabel="name" placeholder="Seleccionar macrocategoria"
                                [style]="{'width':'100%'}"></p-multiSelect>
                        </form>
                    </div>
                    <div class="tarjeta3">
                        <label class="titulos-filtros">Categoría</label>
                        <form [formGroup]="categoriaFormGroup">
                            <p-multiSelect [options]="categoria" formControlName="selectedCategoria" optionLabel="name"
                                placeholder="Seleccionar categoria" [style]="{'width':'100%'}"></p-multiSelect>
                        </form>
                    </div>
                    <div class="tarjeta3">
                        <label class="titulos-filtros">Nombre de Usuario</label>
                        <form [formGroup]="familiaFormGroup">
                            <p-inputNumber class="full-width-input" placeholder="Ingresa Nombre de Usuario"/>
                        </form>
                    </div>

                    <div class="tarjeta3">
                        <label class="titulos-filtros">Correo Electronico</label>
                        <form [formGroup]="familiaFormGroup">
                            <p-inputNumber class="full-width-input" placeholder="Ingresa Correo Electronico"/>
                        </form>
                    </div>

                    <div class="tarjeta3">
                        <label class="titulos-filtros">Numero Empleado</label>
                        <form [formGroup]="familiaFormGroup">
                            <p-inputNumber class="full-width-input" placeholder="Ingresa Numero de Empleado"/>
                        </form>
                    </div>



                    <div style="margin-left: 10px; align-items: center; display: flex; padding-bottom: 3px;">
                        <p-button icon="pi pi-replay" pTooltip="Limpiar filtros" tooltipPosition="bottom"></p-button>
                    </div>

                    <div class="botones-tabla">
                        <p-button label="Buscar" />
                        <p-button label="Nuevo Usuario" (click)="irNuevoUsuario()"/>
                    </div>
                </div>

                <div class="seguimiento-filtrados">

                    <p-tabView class="tabview-reglas">
                        <p-tabPanel header="ACTIVOS">


                            <div class="tarjeta5 w-100 detalle">
                                <div class="titulos-componente m-0">
                                    Usuarios
                                </div>

                                <p-table [value]="usuariosActivos" [scrollable]="true" scrollHeight="400px"
                                    id="tbl-reglas">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Tipo Usuario</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>Numero Empleado</th>
                                            <th>Estatus</th>
                                            <th>Editar</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-usuario>
                                        <tr>
                                            <td>{{usuario.tipo_usuario}}</td>
                                            <td>{{usuario.nombre}}</td>
                                            <td>{{usuario.correo_electronico}}</td>
                                            <td>{{usuario.numero_empleado}}</td>
                                            <td>{{usuario.estatus}}</td>
                                            <td>
                                                <i (click)="irDetalleUsuario()" class="pi pi-user-edit" style="font-size: 2rem"></i>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                        </p-tabPanel>

                        <p-tabPanel header="INACTIVOS">
                            <div class="tarjeta5 w-100 detalle">
                                <div class="titulos-componente m-0">
                                    Usuarios
                                </div>

                                <p-table [value]="usuariosInactivos" [scrollable]="true" scrollHeight="400px"
                                    id="tbl-reglas">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Tipo Usuario</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>Numero Empleado</th>
                                            <th>Estatus</th>
                                            <th>Editar</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-usuario>
                                        <tr>
                                            <td>{{usuario.tipo_usuario}}</td>
                                            <td>{{usuario.nombre}}</td>
                                            <td>{{usuario.correo_electronico}}</td>
                                            <td>{{usuario.numero_empleado}}</td>
                                            <td>{{usuario.estatus}}</td>
                                            <td>
                                                <i (click)="irDetalleUsuario()" class="pi pi-user-edit" style="font-size: 2rem"></i>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>