$colorGris: #434343ff;
$blue: #2661a2;
$colorBlanco: #ffffff;
$colorGrisClaro: #f2f2f2ff;
$colorAzul: #265aa7ff;
$colorAzulClaro: #4598d3ff;
$colorAzulClaroDos: #3fbae4ff;
$colorAzulClaroTres: #66c2e8ff;
$colorAmarillo: #ffe401ff;
$colorAmarilloClaro: #ffed80ff;

/* ---------------------------------------------------------------------------------- */
::ng-deep.titles{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 20px 15px;
  align-items: end;
  .categorias{
    color: gray;
    .p-multiselect{
      width: auto;
      min-width: 200px;
    }
    .p-multiselect-label{
      padding: 5px 15px;
    }
  }
  .titulos-principal{
    padding-left: 0px;
    font-weight: 400;
    color: #2561a2;
    font-size: 3em;
    display: inline;
  }
  .date-corte{
    color: gray;
    width: 250px;
    display: flex;
    justify-content: space-between;
    .label{
      margin-right: 10px;
    }
    .value{
      font-size: 110%;
      color: $blue;
    }
  }
}

.w-30{
  width: 30% !important;
}

.widget{
  background-color: #eeeeee;
  border-radius: 5px;
  box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f !important;
 
  margin-bottom: 20px;
  .titulos-componente{
    margin-bottom: 10px;
    border-bottom: 2px solid #76889c;
    font-weight: 400;
    font-size: 115%;
    padding: 10px 0;
    color: white;
    text-align: center;
    background-color: #2661a2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
 
  }
  .body-widget{
    height: calc(100% - 45px);
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding: 0px 15px 5px 15px;
  }
}



::ng-deep.titulo-cinta{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  div.title{
    background-color: $blue;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 8px;
    width: fit-content;
    min-height: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 110%;
    text-transform: uppercase;
  }
  .botonera{
    background-color: transparent;
    width: 90px;
    display: flex;
    justify-content: space-between;
    .brand .p-button{
      background: $blue;
      border: 1px solid $blue;
    }
  }
}

.tarjeta {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin: 5px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 10px;
    flex: 1 1 calc(16.666% - 20px); /* para 6 tarjetas */
    /* flex: 1 1 calc(14.286% - 20px); */ /* para 7 tarjetas */
    box-sizing: border-box;
    min-width: 200px;
  }
  .w-100{
    min-width: 100% !important;
    width: 100% !important;
  }
  .mb-0{
    margin-bottom: 0px !important;
  }
::ng-deep .app-home
  {
    .tarjeta5 {
    /* background-color: #f8f9fa; */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    margin-bottom: 5px;
    width: 180px;
    padding: 0px;

    /* flex: 1 1 calc(14.286% - 20px); para 7 tarjetas */
    box-sizing: border-box;
    min-width: 180px;
    min-height: 180px;
    .titulos-componente{
        margin-bottom: 10px;
        border-bottom: 2px solid #76889c;
        font-weight: 400;
        font-size: 115%;
        padding: 10px 0;
    color: white;
    text-align: center;
    background-color: $blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
    .chart{
        padding: 0 5px;
        position: relative;
        width: 100%;
        .value-kpi{
            color: $blue;
            font-size: 50px;
            width: 100%;
            text-align: center;
            margin-top: 20px;
            font-weight: 300;
            margin-bottom: 7px;

        }
        .helper{
            width: 100%;
            color: gray;
            margin-top: 20px;
            text-align: center;
        }

        .valor{
          position: absolute;
          text-align: center;
          width:100%;
          z-index: 9;
          margin-top: 37px;
          font-size: 130%;
          color: $blue;
          &.center{
              margin-top: 37px;
              margin-left: -5px;
              .val{
                  color: $blue;
                  
              }
              .descripcion{
                  font-size: 60%;
              }
          }
         
          &.double{
              width: 88%;
              z-index: 9;
              display: flex;
              justify-content: space-between;
              margin-top: 100px;
              font-size: 125%;
              margin-left: 15px;
              
            }
      }

        .gray{
            color: #475569 !important;
        }
        .green{
            color:#1ba54e;
        }
        .blue{
          color: $blue;
      }
        .orange{
            color:#f97316;
        }
        .pink{
            color:#ec4899;
        }
        .cyan{
            color:#85b2f9;
        }
        .indicadores{
            display: flex;
            justify-content: space-between;
           margin-top:15px;
           text-align: center;
           width: 100%;
           font-size: 70%;
           i{
            margin-right: 5px;
           }
           .point{
            display: flex;
            justify-items: baseline;
           }

        }
    }

  }
.shadow-2{
  box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f !important;
}
  .menu-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 10px 20px 10px;
    .item-menu{
      width: 300px;
      background-color: #eeeeee;
      color: $blue;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
      i{
        font-size: 45px;
      }
      .label{
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-weight: 600;
        font-size: 15px;
      }
    }
  }
}
.clickable{
  cursor: pointer;
}
.home-data{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.w-100{
  width: 100% !important;
}
::ng-deep.app-home{
  
    .kpis{
      width: 36%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 20px;
      .tarjeta5{
        width: 48%;
        min-width: 250px;
        height: 200px;
      
      }
      .tarjeta5:nth-child(1){
        margin-bottom: 21px;
      } 
      .titulo-cinta{
        margin-bottom: 5px;
      }
      .chart{
        padding: 0px 5px 5px 5px;
      }
    }
    .chart-home{
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
      .chart{
        width: 100%;
        .title{
          background: #2661a2;
          text-transform: uppercase;
          font-weight: 600;
          color: white;
          padding: 5px;
          font-weight: 400;
          margin-bottom: 15px;
        }
      }
    }
    .folios{
      width: 20%;
    
      .titulo-cinta{
        margin-bottom: 7px;
      }
      .botonera{
        justify-content: end;
      }
      .value{
        
        color: $blue;
      }
      .item{
        background-color: white;
        border-radius: 15px;
        padding: 5px 10px 15px 10px;
        margin: 5px 0 10px 0;
        .title-item{
          color: gray;
          font-size: 70%;
          width: 100%;
          text-align: center;
          font-weight: 200;
          font-style: italic;
          text-transform: uppercase;
          letter-spacing: 0.03em;
        }
        .body-item{
          display: flex;
          justify-content: space-around;
          .value{
            text-align: center;
            font-size: 130%;
            padding: 5px 0;
          }
          .label{
            text-align: center;
            font-size: 60%;
            color:gray;
          }
        }
      }
      .big{
        width: 100%;
        font-size: 200%;
      }
      .medium{
        width: 100%;
        font-size: 170%;
      }
      .small{
        width: 100%;
        font-size: 130%;
      }
    }
    .ranking{
      width: 41%;
      background-color: white !important;
      td{
        height: 32px !important;
      }
      #tbl-ranking{
        width: 100%;
        margin-top: 5px;
        table{
         
          border: gray;
        }
       .p-datatable{
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.031372549), 0 0 2px rgba(0, 0, 0, 0.0588235294), 0 2px 6px rgba(0, 0, 0, 0.1215686275) !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
       }
        td{
          padding: 0px;
          text-align: center;
          background-color: #eeeeee;
          
        }
        tr:last-child{
          td:first-child{
            border-bottom-left-radius: 5px;
          }
          td:last-child{
            border-bottom-right-radius: 5px;
          }
        }
        th{
          background-color: $blue;
          padding: 10px 5px 5px 5px;;
          text-align: center;
          color: white;
          font-weight: 300;
          &:first-child{
            border-top-left-radius: 5px;
          }
          &:last-child{
            border-top-right-radius: 5px;
          }

        }
      }
    }
  }

