<div class="app-home">

  <div class="container-filtros" >
      <div class="tarjeta2" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        <div class="titles">
       <div class="categorias">
        Categorías:
       
    <p-multiSelect 
        inputId="float-label" 
        [options]="categoriasUsuario"  
        [ngModel]="categoriasSelected"
        [style]="{'margin-left': '5px'}"
        optionLabel="name" />

       </div>
          <div class="date-corte">
            <div class="label">Fecha al último corte</div> 
            <div class="value">{{now | date : 'dd-MM-yyy'}}</div>
          </div>
        </div>
    
    </div>
    
    <div style="width: 100%;">
     
      <div class="home-data" style="margin-bottom: 1rem;">
    
    <div class="menu-container">
      <div class="item-menu shadow-2" routerLink="/dashboard-seguimiento" pRipple  >
          <i class="pi pi-chart-line"></i>
          <div class="label">
            Seguimiento Dinámico
          </div>
      </div>
      <div class="item-menu shadow-2" routerLink="/cambio-precios" pRipple  >
        <i class="pi pi-dollar"></i>
        <div class="label">
          Cambio de precios
        </div>
    </div>
    <div class="item-menu shadow-2" routerLink="/seguimiento-folios" pRipple >
      <i class="pi pi-copy"></i>
      <div class="label">
        Mis Folios
      </div>
  </div>
  <div class="item-menu shadow-2" pRipple >
    <i class="pi pi-chart-bar"></i>
    <div class="label">
      Tablero
    </div>
</div>
    </div>
    
      
       
      <div class="kpis">
 
        <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
          <div class="titulos-componente">
              Total SKU's
              <i class="pi pi-question-circle"  pTooltip="Total de SKU's de las clases del usuario seleccionadas" ></i>
            </div>
          <div class="chart">
              <div class="valor  center">
                  <div class="val">3500</div>
                  <div class="descripcion">Total</div>
              </div>
              <div class="valor double">
              
                  <div class="gray">9%</div>
                  <div class="blue">91%</div>
              </div>
              <p-chart type="doughnut" width="110" [data]="evaluadosChart" [options]="optionsReview" />
              <div class="indicadores">
                  <div class="gray point"> <i class="pi pi-circle-on"></i>Evaluad...(325)</div> 
                  <div class="blue point"> <i class="pi pi-circle-on"></i>No Eval..(3175)</div> 
       
              </div>
          </div>
         
    
    
      </div>
    
   
      <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
        <div class="titulos-componente">
            Competitividad
          </div>
        <div class="chart">
          <div class="valor  center">
            <div class="val">325</div>
            <div class="descripcion">Total</div>
        </div>
        <div class="valor double">
          <div class="gray">19%</div>
          <div class="blue">81%</div>
      </div>
            <p-chart type="doughnut" width="110" [data]="fueraCompChart" [options]="optionsReview" />
            <div class="indicadores">
                <div class="gray point"> <i class="pi pi-circle-on"></i>Fuera (128) </div> 
                <div class="blue point"> <i class="pi pi-circle-on"></i>Dentro (125)</div> 
     
            </div>
        </div>
       
  
  
    </div>
  
          
          <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                 SKU's Evaluados
                </div>
              <div class="chart">
                  <div class="value-kpi">325</div>
                  <div class="helper"><small>SKu's pertenecientes a las categorias: Audio y Video, Automotriz y Bebés</small></div>
              </div>
          
          </div>
          <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                  Fuera de Competitividad
                </div>
              <div class="chart">
                  <div class="value-kpi">125</div>
                  <div class="helper"><small>38% Fuera de Competitividad</small></div>
              </div>
          </div>
          
         
  
      
        </div>
        
      
        <div class="folios widget">
          <div class="titulos-componente">
            Mis Folios
     
          </div>
     <!--   <div class="titulo-cinta">
          <div class="title">
               Mis Folios
          </div>
        
      </div>-->
      <div class="body-widget">
        <div class="big item shadow-2 clickable" routerLink="/seguimiento-folios" >
          <div class="title-item">
            Pendientes
          </div>
          <div class="body-item">
            <div class="section">
              <div class="value">
                5
              </div>
              <div class="label">
                 Folios 
              </div>
            </div>
            <div class="section">
              <div class="value">
                49
              </div>
              <div class="label">
                 SKU's 
              </div>
            </div>
            
          </div>
        </div>
  
        <div class="medium item  shadow-2 clickable" routerLink="/seguimiento-folios" >
          <div class="title-item">
            Enviados
          </div>
          <div class="body-item">
            <div class="section">
              <div class="value">
                2
              </div>
              <div class="label">
                 Folios 
              </div>
            </div>
            <div class="section">
              <div class="value">
                23
              </div>
              <div class="label">
                 SKU's 
              </div>
            </div>
            
          </div>
        </div>
  
        <div class="small item  shadow-2 clickable" routerLink="/seguimiento-folios" >
          <div class="title-item">
            Cancelados
          </div>
          <div class="body-item">
            <div class="section">
              <div class="value">
                1
              </div>
              <div class="label">
                 Folios 
              </div>
            </div>
            <div class="section">
              <div class="value">
               11
              </div>
              <div class="label">
                 SKU's 
              </div>
            </div>
            
          </div>
        </div>
  
      </div>
      

      </div>
      <div class="ranking">
          <div class="titulo-cinta  ">
              <div class="title shadow-2">
                  Ranking de SKU menos competitivos
              </div>
              <div class="botonera">
                <p-button icon="pi pi-chart-line" pTooltip="Seguimiento Dinámico" tooltipPosition="left" routerLink="/dashboard-seguimiento" class="brand" [rounded]="true" [raised]="true" />
                <p-button icon="pi pi-dollar" class="brand"  pTooltip="Cambio de Precios" tooltipPosition="left" [rounded]="true" routerLink="/cambio-precios" severity="info" [raised]="true"/>
              </div>
          </div>
          <p-table #tableRanking [value]="ranking" 
          [(selection)]="selectedSKU"  dataKey="num_folio" [scrollable]="true" scrollHeight="400px" id="tbl-ranking">
              <ng-template style="position: absolute;" pTemplate="header">
                <tr>
                  <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                  <th>No</th>
                  <th style="width: 20%;">SKU</th>
                  <th>Marca</th>
                  <th>Fuera de Competitividad</th>
                  <th>% Fuera de Competitividad</th>
                  <th>% Diferencial</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                <tr>
                  <td>
                      <p-tableCheckbox [value]="row" />
                  </td>
                  <td>{{rowIndex + 1}}</td>
                  <td>{{row.name}}</td>
                  <td>{{row.marca}}</td>
                  <td>{{row.fueraCom}}</td>
                  <td>{{row.prcFueraCom}}</td>
                  <td>{{row.diferencial}}</td>
                  </tr>
              </ng-template>
            </p-table>
      </div>

      <div class="chart-home">

        <div class="tarjeta5 w-100" style="display: block; flex-wrap: wrap;">
          <div class="titulos-componente">
              Distribución de SKU's
            </div>
          <div class="chart">
            <p-chart type="bar" height="150" [data]="diferencialChart" [options]="optionsDiferencial" />
          </div>
         
    
    
      </div>
      <div class="tarjeta5 w-100" style="display: block; flex-wrap: wrap;">
        <div class="titulos-componente">
            SKU's Trabajados
            <i class="pi pi-question-circle"  [pTooltip]="tooltipContent"  ></i>
            <ng-template #tooltipContent>
              <div class="flex align-items-center">
                  <span> <b>Atendidos:</b> <small>SKU's modificados/trabajados mediante la plataforma de competitividad </small></span>
                  <span> <b>Corregidos:</b><small> SKU's con el precio modificado reportado por WISER</small> </span>
              </div>
          </ng-template>
          </div>
        <div class="chart">
          <p-chart type="line" height="150px" [data]="dataChartHistorico" [options]="optionsDataChartHistorico" />
        </div>
       
  
  
    </div>
        
      </div>

      <div class="kpis ">
        <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
          <div class="titulos-componente">
              % Diferencial
            </div>
          <div class="chart">
              <div class="value-kpi">43 %</div>
              <div class="helper"><small><i class="pi pi-arrow-up"></i> 3% al día de ayer.<br/> VS Mejor Competidor</small></div>
          </div>
      </div>
      <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
          <div class="titulos-componente">
             Seguimiento Hoy
            </div>
            <div class="chart">
              <div class="valor  center">
                <div class="val">128</div>
                <div class="descripcion">Total</div>
            </div>
            <div class="valor double">
              
              <div class="gray">79%</div>
              <div class="blue">21%</div>
          </div>
                <p-chart type="doughnut" width="110" [data]="fueraCompChart" [options]="optionsReview" />
                <div class="indicadores">
                    <div class="gray point"> <i class="pi pi-circle-on"></i>No Atendidos(98) </div> 
                    <div class="blue point"> <i class="pi pi-circle-on"></i>Atendidos(27)</div> 
         
                </div>
            </div>
      
      </div>

 


    
        <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
            <div class="titulos-componente">
                Seguimiento ayer
              </div>
              <div class="chart">
                <div class="valor  center">
                  <div class="val">125</div>
                  <div class="descripcion">Total</div>
              </div>
              <div class="valor double">
                <div class="gray">21%</div>
                <div class="blue">79%</div>
            </div>
                  <p-chart type="doughnut" width="110" [data]="fueraCompChart" [options]="optionsReview" />
                  <div class="indicadores">
                      <div class="gray point"> <i class="pi pi-circle-on"></i>Correg...(98) </div> 
                      <div class="blue point"> <i class="pi pi-circle-on"></i>No Corr...(27)</div> 
           
                  </div>
              </div>
        </div>
      <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
            <div class="titulos-componente">
                Seguimiento de hace 2 días
              </div>
              <div class="chart">
                <div class="valor  center">
                  <div class="val">27</div>
                  <div class="descripcion">Total</div>
              </div>
              <div class="valor double">
                <div class="gray">26%</div>
                <div class="blue">74%</div>
            </div>
                  <p-chart type="doughnut" width="110" [data]="fueraCompChart" [options]="optionsReview" />
                  <div class="indicadores">
                      <div class="gray point"> <i class="pi pi-circle-on"></i>Fuera(4) </div> 
                      <div class="blue point"> <i class="pi pi-circle-on"></i>Dentro(20)</div> 
           
                  </div>
              </div>
        </div>
      </div>
  
      
    
  
  
  </div>