<div class="app-dashboard-seguimiento">

  <div class="container-filtros" >
      <div class="tarjeta2" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        <div>
          <label class="titulos-principal">SEGUIMIENTO</label>
        </div>

    </div>

    <app-buscador-dashboard (parametrosChange)="manejarParametros($event)"></app-buscador-dashboard>




    <div class="seguimiento-filtrados">
      <div class="kpis">
          <div class="titulo-cinta">
              <div>
                  Evaluación de códigos al dia seleccionado ({{fechaFiltro | date : 'dd/MM/yyyy'}})
              </div>

          </div>




          <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                 SKU's Evaluados
                </div>
              <div class="chart">
                  <div class="value-kpi">{{evaluaciones.skus_evaluados}}</div>
                  <div class="helper"><small>{{evaluaciones.skus_evaluados / evaluaciones.skus_total * 100 | number: '1.0-0'}}% de los códigos coinciden con los filtros seleccionados</small></div>
              </div>

          </div>
          <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                  Fuera de Competitividad
                </div>
              <div class="chart">
                  <div class="value-kpi">{{evaluaciones.fuera_comp}}</div>
                  <div class="helper"><small>{{evaluaciones.fuera_comp / evaluaciones.skus_total * 100 | number: '1.0-0'}}% Fuera de Competitividad</small></div>
              </div>
          </div>

           <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                  % Diferencial
                </div>
              <div class="chart">
                  <div class="value-kpi">{{evaluaciones.por_diferencial}} %</div>
                  <div class="helper"><small>VS Mejor Competidor</small></div>
              </div>
          </div>
          <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                 SKU's Atendidos
                </div>
              <div class="chart">
                  <div class="value-kpi">{{evaluaciones.skus_atendidos}}</div>
                  <div class="helper"><small>SKU's atendidos dentro de los 2 días posteriores.</small></div>
              </div>

          </div>

          <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
            <div class="titulos-componente">
                Total SKU's
              </div>
            <div class="chart">
                <div class="valor  center">
                    <div class="val">{{evaluaciones.skus_total}}</div>
                    <div class="descripcion">Total</div>
                </div>
                <div class="valor double">

                    <div class="gray">{{evaluaciones.fuera_comp / evaluaciones.skus_total * 100 | number: '1.0-0'}}%</div>
                    <div class="blue">{{100 - (evaluaciones.fuera_comp / evaluaciones.skus_total * 100)  | number: '1.0-0'}}%</div>
                </div>
                <p-chart type="doughnut" width="100" [data]="evaluadosChart" [options]="optionsReview" />
                <div class="indicadores">
                    <div class="gray point"> <i class="pi pi-circle-on"></i>Evaluad...({{evaluaciones.fuera_comp}})</div>
                    <div class="blue point"> <i class="pi pi-circle-on"></i>No Eval..({{evaluaciones.skus_total - evaluaciones.fuera_comp}})</div>

                </div>
            </div>



        </div>


        <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
          <div class="titulos-componente">
              Competitividad
            </div>
          <div class="chart">
            <div class="valor  center">
              <div class="val">325</div>
              <div class="descripcion">Total</div>
          </div>
          <div class="valor double">
            <div class="gray">19%</div>
            <div class="blue">81%</div>
        </div>
              <p-chart type="doughnut" width="100" [data]="fueraCompChart" [options]="optionsReview" />
              <div class="indicadores">
                  <div class="gray point"> <i class="pi pi-circle-on"></i>Fuera (128) </div>
                  <div class="blue point"> <i class="pi pi-circle-on"></i>Dentro (125)</div>

              </div>
          </div>



      </div>



          <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                  Seguimiento Día 1
                </div>
                <div class="chart">
                  <div class="valor  center">
                    <div class="val">125</div>
                    <div class="descripcion">Total</div>
                </div>
                <div class="valor double">
                  <div class="gray">21%</div>
                  <div class="blue">79%</div>
              </div>
                    <p-chart type="doughnut" width="100" [data]="fueraCompChart" [options]="optionsReview" />
                    <div class="indicadores">
                        <div class="gray point"> <i class="pi pi-circle-on"></i>Correg...(98) </div>
                        <div class="blue point"> <i class="pi pi-circle-on"></i>No Corr...(27)</div>

                    </div>
                </div>
          </div>
        <div class="tarjeta5" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                  Seguimiento Día 2
                </div>
                <div class="chart">
                  <div class="valor  center">
                    <div class="val">27</div>
                    <div class="descripcion">Total</div>
                </div>
                <div class="valor double">
                  <div class="gray">26%</div>
                  <div class="blue">74%</div>
              </div>
                    <p-chart type="doughnut" width="100" [data]="fueraCompChart" [options]="optionsReview" />
                    <div class="indicadores">
                        <div class="gray point"> <i class="pi pi-circle-on"></i>Fuera(4) </div>
                        <div class="blue point"> <i class="pi pi-circle-on"></i>Dentro(20)</div>

                    </div>
                </div>
          </div>
        </div>
      <div class="ranking">
          <div class="titulo-cinta">
              <div>
                  Ranking de <p-dropdown
                  [style]="{'margin-left': '5px'}"
                  [options]="vistaList"
                  optionLabel="name"
                  [(ngModel)]="selectedRanking"
                  placeholder="Categoría"
                  (onChange)="filtroRanking()">
                </p-dropdown>
              </div>

          </div>
          <p-table [value]="fullRanking"
          [(selection)]="selectedSKU" dataKey="num_folio" [scrollable]="true" scrollHeight="400px" id="tbl-ranking">
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align: center;"><p-tableHeaderCheckbox /></th>
              <th style="text-align: center;">No</th>
              <th style="text-align: center;">Macrocategoría</th>
              <th style="text-align: center;">Fuera de Competitividad</th>
              <th style="text-align: center;">% Fuera de Competitividad</th>
              <th style="text-align: center;">% Diferencial VS Competidor más bajo</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
              <td style="text-align: center;">
                <p-tableCheckbox [value]="row" />
              </td>
              <td style="text-align: center;">{{rowIndex + 1}}</td>
              <td style="text-align: center;" >{{row.name}}</td>
              <td style="text-align: center;">{{row.fueraCom}}</td>
              <td style="text-align: center;">{{row.prcFueraCom}}</td>
              <td style="text-align: center;">{{row.diferencial}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="distribucion">
        <p-tabView class="tab-view-kpi">
          <p-tabPanel header="Distribución de Sku´s">
            <div class="tarjeta5 w-100 distribucion" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                  Distribución de Sku´s de Acuerdo a su % Diferencial VS Mejor Competidor
              </div>
              <div class="chart flex justify-content-center">

                  <p-chart type="bar" height="180" [data]="diferencialChart" [options]="optionsDiferencial" />
                  <div class="indicadores" style="width: 60%;">
                      <div class="blue point"> <i class="pi pi-circle-on"></i>Corregidos hace 1 día</div>
                      <div class="cyan point"> <i class="pi pi-circle-on"></i>Corregidos hace 2 día</div>
                      <div class="gray point"> <i class="pi pi-circle-on"></i>Sint atender hace más de 2 días</div>

                  </div>
          </div>
          </div>
          </p-tabPanel>
          <p-tabPanel header="KPI's Histórico Total">
            <div class="tarjeta5 w-100 distribucion" style="display: block; flex-wrap: wrap;">
              <div class="titulos-componente">
                  KPI's HIstórcos
              </div>
              <div class="chart historico flex justify-content-center">
                     <div class="w-70">
                       <p-chart type="line" height="180px" [data]="dataChartHistorico" [options]="optionsDataChartHistorico" />
                     </div>

                  <div class=" w-30">
                    <div class="card-historico">
                       <div class="title">
                        <div>Evaluados</div>
                        <div>325 SKU's</div>
                       </div>
                       <div class="dias">
                        <div>
                          Lunes (01/06/2024)
                        </div>
                        <div>
                          Miercoles (03/06/2024)
                        </div>
                       </div>
                       <div class="kpi-valor">

                          <div class="original">
                            <div class="num">133 SKU's</div>
                            <div class="prc">62%</div>
                            <div class="label">Fuera Competitividad</div>
                          </div>
                          <div class="final">
                            <div class="num">56 SKU's</div>
                            <div class="prc">36%</div>
                            <div class="label">Fuera Competitividad</div>
                          </div>
                       </div>

                       <div class="kpi-valor">

                        <div class="original">
                          <div class="num">43 %</div>
                          <div class="label">% Diferencial</div>
                        </div>
                        <div class="final">
                          <div class="num">35 %</div>
                          <div class="label">% Diferencial Final</div>

                        </div>
                     </div>

                    </div>
                  </div>
          </div>
          </div>
          </p-tabPanel>
          <p-tabPanel header="Seguimiento de SKU's Evaluados en {{fechaFiltro | date : 'dd-MM-yyyy'}}">
          <!--  <div class="dias-data">
              <p-table [value]="seguimientoSkuEvaluados">
                <ng-template pTemplate="header">
                    <tr>
                        <th [width]="300">KPI</th>
                        <th>{{seguimientoSkuEvaluados[0].dia | date : 'dd/MM/yyy'}}</th>
                        <th>{{seguimientoSkuEvaluados[1].dia | date : 'dd/MM/yyy'}}</th>
                        <th>{{seguimientoSkuEvaluados[2].dia | date : 'dd/MM/yyy'}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-sku let-rowIndex="rowIndex">
                    <th *ngIf="rowIndex == 0">
                      <div class="label" *ngFor="let kpi of sku.data"  >
                        {{kpi.label}}
                      </div>

                    </th>
                     <td>
                      <div class="valor" *ngFor="let kpi of sku.data">
                        {{kpi.valor}}
                      </div>
                     </td>

                </ng-template>
            </p-table>


            </div>-->
            <div class="content-cards">
              <div class=" w-30" *ngFor="let dia of seguimientoSkuEvaluados">
                <div class="card-historico">
                   <div class="title">
                    <div>Evaluados</div>
                    <div>325 SKU's</div>
                   </div>
                   <div class="dias">
                    <div>
                      {{dia.dia | date: 'dd-MM-yyyy'}}
                    </div>
                   </div>
                   <div class="kpi-valor">

                      <div class="final" style="width: 100%;">
                        <div class="num">{{dia.data[2].valor}} SKU's</div>
                        <div class="prc">62%</div>
                        <div class="label">{{dia.data[2].label}}</div>
                      </div>

                   </div>

                   <div class="kpi-valor">


                    <div class="final"  style="width: 100%;">
                      <div class="num">{{dia.data[8].valor}} SKU's</div>
                      <div class="prc">62%</div>
                      <div class="label">{{dia.data[8].label}}</div>

                    </div>
                 </div>

                </div>
              </div>
            </div>


            <div class="dias-chart">
              <p-chart type="line" height="180px" [data]="dataSeguimiento" [options]="optionsSeguimiento" />
            </div>
          </p-tabPanel>
      </p-tabView>
      </div>



      <div  class="tarjeta5 w-100 detalle">
          <div class="titulos-componente m-0">
              Detalle de SKU's Filtrados
          </div>
          <p-table #tableCodigos [value]="listaSkusCoppel"  [(selection)]="selectedSKU"  dataKey="num_folio" [scrollable]="true" scrollHeight="400px" id="tbl-codigos">
              <ng-template style="position: absolute;" pTemplate="header">
                <tr>
                  <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                  <th [width]="200">SKU</th>
                  <th>Precio Publicado</th>
                  <th>Margen Precio Publicado(%)</th>
                  <th>Precio Competitividad</th>
                  <th>Margen Nuevo (%)</th>
                  <th>Mejor Competidor</th>
                  <th>Precio Mejor Competidor</th>
                  <th>% Diferencial VS Competidor más bajo</th>
                  <th>Última Fecha de Atención</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                <tr style="align-items: center;">
                  <td>
                      <p-tableCheckbox [value]="row" />
                  </td>

                  <td>{{row.numero}}</td>
                  <td>$ {{row.precioPublicado}}</td>
                  <td>{{row.margenPublicado}} %</td>
                  <td>$ {{row.precioCompetitividad}}</td>
                  <td>{{row.margenCompetitividad}} %</td>
                  <td>{{row.mejorCompetidor}}</td>
                  <td>$ {{row.precioCompetidor}}</td>
                  <td>{{row.diferencial}} %</td>
                  <td>{{row.ultimaFecha}}</td>
                  </tr>
              </ng-template>
            </p-table>
      </div>
    </div>



  </div>
